@layer components {
  .close-button {
    &[type='button'],
    &[type='reset'] {
      @apply outline-none text-lg text-white rounded-full p-1.5 bg-gray-100 hover:bg-gray-200 dark:bg-gray-950 dark:hover:bg-gray-900 hover:text-gray-600 dark:hover:text-gray-400;
    }
  }  
}